:root {
    --base-dark: #1E305E;
    --primary-dark: #101828;
    --secondary-dark: #192A56;
    --primary: #FFFFFF;
    --secondary: #797E8B;
    --base: #18569E;
    --primary-rgba: 255,255,255;
    --secondary-dark-rgba: 25,42,86;
    --gray: 106,122,152;
}
